<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/VIBHAK/workspace/StudioAPI-RestAssured"><classes><class name="GoService.DemoClass"><methods><include name="Demo"/></methods></class><class name="PageManagement.GetPageWorkflow"><methods><include name="TestResponse"/><include name="TestStatusCode"/><include name="TestEditUrl"/></methods></class><class name="PageManagement.TestGetPages"><methods><include name="TestResponse"/><include name="TestStatusCode"/></methods></class><class name="PageManagement.TestPostPage"><methods><include name="TestInternalPage"/><include name="TestExternalPage"/><include name="TestExternalLink"/></methods></class><class name="PageManagement.TestPutPage"><methods><include name="TestChangePgTitle"/></methods></class></classes></test></suite>